flows_ip-172-31-13-243.sa-east-1.compute.internal.json
[{"id":"1a6181ed.261d5e","type":"tab","label":"Auth/User","disabled":false,"info":""},{"id":"c517cb36.dfeda8","type":"tab","label":"mqtt converter","disabled":false,"info":""},{"id":"a39e2b04.d736e8","type":"tab","label":"Persistence service","disabled":false,"info":""},{"id":"65d9781a.51dfd8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c1178bb.d438a8","type":"mongodb","z":"","hostname":"msantoscluster0.rc1bx.mongodb.net","topology":"dnscluster","connectOptions":"retryWrites=true&w=majority","port":"27017","db":"ienvironment","name":"ienvironmentprod"},{"id":"89d48d49.ad965","type":"websocket-listener","z":"","path":"/ws/ienvironmentwebsocket","wholemsg":"false"},{"id":"fe9f7fce.ec059","type":"http request","z":"1a6181ed.261d5e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/api/users/login","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":60,"wires":[["1bc1e663.06d3ea"]]},{"id":"2d3e6cf7.fbdcc4","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":60,"wires":[["a16b94ab.bd6848"]]},{"id":"c4860495.aad828","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"a16b94ab.bd6848","type":"function","z":"1a6181ed.261d5e","name":"","func":"\n\nreturn { payload : { login: \"mateusm\", password: \"admin\" }};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":60,"wires":[["fe9f7fce.ec059"]]},{"id":"1bc1e663.06d3ea","type":"function","z":"1a6181ed.261d5e","name":"","func":"\nglobal.set(\"token\", msg.payload.token)\nreturn { payload: msg.payload.token };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":60,"wires":[["c4860495.aad828"]]},{"id":"35f0d4dc.48f4dc","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":200,"wires":[["ee034d5a.38e85"]]},{"id":"6d944e65.d0346","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"ee034d5a.38e85","type":"function","z":"1a6181ed.261d5e","name":"set header","func":"var newmsg = { payload: msg.payload,\n            headers: {}};\nnewmsg.headers['x-access-token'] = global.get(\"token\");\n\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[["aaf8fcea.af503"]]},{"id":"aaf8fcea.af503","type":"http request","z":"1a6181ed.261d5e","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:8080/api/users/","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":200,"wires":[["6d944e65.d0346"]]},{"id":"8c007d7c.3730a","type":"mqtt in","z":"1a6181ed.261d5e","name":"","topic":"signal/#","qos":"2","datatype":"auto","broker":"65d9781a.51dfd8","x":50,"y":360,"wires":[["63822890.55bc68"]]},{"id":"41b891ec.d0f65","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":320,"wires":[]},{"id":"b1501918.20d928","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","x":90,"y":480,"wires":[["575490e0.6e30f"]]},{"id":"575490e0.6e30f","type":"function","z":"1a6181ed.261d5e","name":"get all sensors","func":"msg.payload = { type: \"Sensor\" }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":440,"wires":[["b92d60f0.fdf48"]]},{"id":"f758393a.beb618","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":520,"wires":[]},{"id":"b92d60f0.fdf48","type":"mongodb in","z":"1a6181ed.261d5e","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":500,"y":440,"wires":[["89921910.4f8ae8"]]},{"id":"71186c66.b7aa04","type":"mongodb in","z":"1a6181ed.261d5e","mongodb":"4c1178bb.d438a8","name":"","collection":"environments","operation":"find","x":370,"y":700,"wires":[["13461ba5.3f56e4"]]},{"id":"89921910.4f8ae8","type":"function","z":"1a6181ed.261d5e","name":"FormatToSplit","func":"\nvar equipamentos = Array.from(msg.payload);\nvar currentList = \"\";\nequipamentos.forEach(function element(elem) { \n    if(currentList.length == 0){\n        currentList = JSON.stringify(elem);\n    }\n    else{\n        currentList = currentList +\";\"+ JSON.stringify(elem);\n        }\n    });\nmsg.payload =  currentList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":620,"wires":[["f26f7d5e.ff63f"]]},{"id":"f26f7d5e.ff63f","type":"split","z":"1a6181ed.261d5e","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":620,"wires":[["7d349e7c.2184c"]]},{"id":"7d349e7c.2184c","type":"function","z":"1a6181ed.261d5e","name":"CheckStatus","func":"msg.payload = JSON.parse(msg.payload);\n\nvar diffInMinutes = (msg.timestamp - Date.parse(msg.payload.updatedAt))/(1000*60);\nmsg.diffInMinutes = diffInMinutes\nif(diffInMinutes < 5.0){\n    if(msg.payload.connected == false){\n        msg.diff = true;\n        msg.payload.connected = true;\n         msg.query = {\"_id\": msg.payload._id};\n        delete msg.payload._id;\n    }\n    return msg;\n}\nelse{\n    if(msg.payload.connected == true){\n    msg.payload.connected = false;\n    msg.diff = true;\n    msg.query = {\"_id\": msg.payload._id};\n    delete msg.payload._id;\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":620,"wires":[["fa96a752.dd6108","41b891ec.d0f65"]]},{"id":"fa96a752.dd6108","type":"switch","z":"1a6181ed.261d5e","name":"","property":"diff","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":620,"wires":[["ecf501fd.d0248","41b891ec.d0f65"]]},{"id":"20116446.61240c","type":"function","z":"1a6181ed.261d5e","name":"","func":"  if (!!msg.topic) {\n            var identifiers = msg.topic.split('/')\n            if (identifiers.length < 4) {\n                msg.err = \"invalid format\"\n                msg.isvalid = false;\n            } else {\n                msg.ambienteId =  identifiers[1];\n                msg.sensorId = identifiers[2];\n                msg.parameter =identifiers[3];\n                msg.isvalid = true;\n                msg.value = msg.payload;\n                msg.payload = {  _id: msg.sensorId }\n            }\n        }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["2000ef7c.77e85"]]},{"id":"6789e7d5.8e8128","type":"mongodb in","z":"1a6181ed.261d5e","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":780,"y":300,"wires":[["7487097d.57a308"]]},{"id":"63822890.55bc68","type":"change","z":"1a6181ed.261d5e","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":360,"wires":[["20116446.61240c"]]},{"id":"ecf501fd.d0248","type":"mongodb out","z":"1a6181ed.261d5e","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1100,"y":440,"wires":[]},{"id":"2000ef7c.77e85","type":"objectid","z":"1a6181ed.261d5e","name":"","selectedProperty":"_id","x":570,"y":300,"wires":[["6789e7d5.8e8128"]]},{"id":"7487097d.57a308","type":"function","z":"1a6181ed.261d5e","name":"","func":"msg.payload = msg.payload[0]\nmsg.payload.updatedAt = msg.timestamp;\nmsg.payload.currentValue = msg.value;\nmsg.query = {\"_id\": msg.payload._id};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":400,"wires":[["41b891ec.d0f65","ecf501fd.d0248"]]},{"id":"41782afd.aef414","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","x":110,"y":720,"wires":[["71186c66.b7aa04"]]},{"id":"13461ba5.3f56e4","type":"function","z":"1a6181ed.261d5e","name":"FormatToSplit","func":"\nvar ambientes = Array.from(msg.payload);\nvar currentList = \"\";\nambientes.forEach(function element(elem) { \n    if(currentList.length == 0){\n        currentList = JSON.stringify(elem);\n    }\n    else{\n        currentList = currentList +\";\"+ JSON.stringify(elem);\n        }\n    });\nmsg.payload =  currentList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":700,"wires":[["622cabba.872144"]]},{"id":"622cabba.872144","type":"split","z":"1a6181ed.261d5e","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":780,"wires":[["8d0a5fa8.ceaa9"]]},{"id":"8d0a5fa8.ceaa9","type":"function","z":"1a6181ed.261d5e","name":"","func":"msg.payload = JSON.parse(msg.payload);\n\nmsg.payload.numberOfEquipments = msg.payload.equipments.length;\n\nvar sensorFormatToSplit = \"\";\n\nArray.from(msg.payload.equipments).forEach(function equipment(equip) {\n   if(sensorFormatToSplit === \"\"){\n       sensorFormatToSplit = equip;\n   }else{\n       sensorFormatToSplit += \";\"+equip;\n   }   \n});\n\n\nflow.set(\"ativos\",0);\nmsg.currentEnvironment = msg.payload;\n\nmsg.payload = sensorFormatToSplit;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[["fd5beeaf.cb941"]]},{"id":"b999f62e.c5b108","type":"join","z":"1a6181ed.261d5e","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1110,"y":560,"wires":[["f758393a.beb618"]]},{"id":"fd5beeaf.cb941","type":"split","z":"1a6181ed.261d5e","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":780,"wires":[["7a3c88cf.aea2a8"]]},{"id":"7a3c88cf.aea2a8","type":"function","z":"1a6181ed.261d5e","name":"","func":"msg.payload = {  _id: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":700,"wires":[["be50b9d6.2a8bf8"]]},{"id":"be50b9d6.2a8bf8","type":"objectid","z":"1a6181ed.261d5e","name":"","selectedProperty":"_id","x":910,"y":780,"wires":[["4400eb98.ad10b4"]]},{"id":"4400eb98.ad10b4","type":"mongodb in","z":"1a6181ed.261d5e","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":1120,"y":780,"wires":[["7000e89b.9f53f8"]]},{"id":"7000e89b.9f53f8","type":"function","z":"1a6181ed.261d5e","name":"","func":"var sensorStatus = false;\n\nif(msg.payload[0]){\n    sensorStatus = msg.payload[0].connected;\n}\n\nmsg.sensorStatus = sensorStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":700,"wires":[["909c9254.060d6","f758393a.beb618"]]},{"id":"909c9254.060d6","type":"switch","z":"1a6181ed.261d5e","name":"","property":"sensorStatus","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":640,"wires":[["f758393a.beb618"]]},{"id":"1107e4ec.b7fdcb","type":"mqtt out","z":"c517cb36.dfeda8","name":"","topic":"","qos":"","retain":"","broker":"65d9781a.51dfd8","x":810,"y":220,"wires":[]},{"id":"2b581ede.2670d2","type":"inject","z":"c517cb36.dfeda8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"signal/5f6ded169481d4002da0809/5f9d7a9692e6532c0d0b0501/testenode-red","x":110,"y":220,"wires":[["79010687.44c218"]]},{"id":"79010687.44c218","type":"random","z":"c517cb36.dfeda8","name":"","low":"1","high":"99","inte":"true","property":"payload","x":340,"y":220,"wires":[["1107e4ec.b7fdcb"]]},{"id":"5ec98e19.c2b55","type":"comment","z":"c517cb36.dfeda8","name":"","info":"Simulação de sinal","x":340,"y":180,"wires":[]},{"id":"7cf8717d.918ea","type":"udp in","z":"c517cb36.dfeda8","name":"","iface":"","port":"4040","ipv":"udp4","multicast":"false","group":"","datatype":"base64","x":140,"y":560,"wires":[["9847a847.2e0698"]]},{"id":"45ffe878.7efee8","type":"tcp in","z":"c517cb36.dfeda8","name":"","server":"server","host":"","port":"4041","datamode":"stream","datatype":"base64","newline":"","topic":"","base64":false,"x":140,"y":480,"wires":[["9847a847.2e0698"]]},{"id":"1b5f0e52.ace8c2","type":"websocket in","z":"c517cb36.dfeda8","name":"","server":"89d48d49.ad965","client":"","x":130,"y":640,"wires":[["9847a847.2e0698"]]},{"id":"9847a847.2e0698","type":"function","z":"c517cb36.dfeda8","name":"","func":"  if (!!msg.topic) {\n            var identifiers = msg.topic.split('/')\n            if (identifiers.length < 4) {\n                msg.err = \"invalid format\"\n                msg.isvalid = false;\n            } else {\n                msg.ambienteId =  identifiers[1];\n                msg.sensorId = identifiers[2];\n                msg.parameter =identifiers[3];\n                msg.isvalid = true;\n                msg.value = msg.payload;\n                msg.payload = {  _id: msg.sensorId }\n            }\n        }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["86820940.390f18"]]},{"id":"86820940.390f18","type":"switch","z":"c517cb36.dfeda8","name":"","property":"isvalid","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":320,"wires":[["1107e4ec.b7fdcb"]]}]