flows_ip-172-31-13-243.sa-east-1.compute.internal.json
[{"id":"1a6181ed.261d5e","type":"tab","label":"Auth/User","disabled":false,"info":""},{"id":"c517cb36.dfeda8","type":"tab","label":"mqtt converter","disabled":false,"info":""},{"id":"a39e2b04.d736e8","type":"tab","label":"Persistence service","disabled":false,"info":""},{"id":"67309be7.76f2c4","type":"tab","label":"Simulation Mode","disabled":false,"info":""},{"id":"65d9781a.51dfd8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c1178bb.d438a8","type":"mongodb","z":"","hostname":"msantoscluster0.rc1bx.mongodb.net","topology":"dnscluster","connectOptions":"retryWrites=true&w=majority","port":"27017","db":"ienvironment","name":"ienvironmentprod"},{"id":"89d48d49.ad965","type":"websocket-listener","z":"","path":"/ws/ienvironmentwebsocket","wholemsg":"false"},{"id":"fe9f7fce.ec059","type":"http request","z":"1a6181ed.261d5e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/api/users/login","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":60,"wires":[["1bc1e663.06d3ea"]]},{"id":"2d3e6cf7.fbdcc4","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":60,"wires":[["a16b94ab.bd6848"]]},{"id":"c4860495.aad828","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"a16b94ab.bd6848","type":"function","z":"1a6181ed.261d5e","name":"","func":"\n\nreturn { payload : { login: \"mateusm\", password: \"admin\" }};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":60,"wires":[["fe9f7fce.ec059"]]},{"id":"1bc1e663.06d3ea","type":"function","z":"1a6181ed.261d5e","name":"","func":"\nglobal.set(\"token\", msg.payload.token)\nreturn { payload: msg.payload.token };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":60,"wires":[["c4860495.aad828"]]},{"id":"35f0d4dc.48f4dc","type":"inject","z":"1a6181ed.261d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":200,"wires":[["ee034d5a.38e85"]]},{"id":"6d944e65.d0346","type":"debug","z":"1a6181ed.261d5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"ee034d5a.38e85","type":"function","z":"1a6181ed.261d5e","name":"set header","func":"var newmsg = { payload: msg.payload,\n            headers: {}};\nnewmsg.headers['x-access-token'] = global.get(\"token\");\n\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[["aaf8fcea.af503"]]},{"id":"aaf8fcea.af503","type":"http request","z":"1a6181ed.261d5e","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:8080/api/users/","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":200,"wires":[["6d944e65.d0346"]]},{"id":"1107e4ec.b7fdcb","type":"mqtt out","z":"c517cb36.dfeda8","name":"","topic":"","qos":"","retain":"","broker":"65d9781a.51dfd8","x":810,"y":220,"wires":[]},{"id":"2b581ede.2670d2","type":"inject","z":"c517cb36.dfeda8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"signal/5f6ded169481d4002da0809/5f9d7a9692e6532c0d0b0501/testenode-red","x":110,"y":220,"wires":[["79010687.44c218"]]},{"id":"79010687.44c218","type":"random","z":"c517cb36.dfeda8","name":"","low":"1","high":"99","inte":"true","property":"payload","x":340,"y":220,"wires":[["1107e4ec.b7fdcb"]]},{"id":"5ec98e19.c2b55","type":"comment","z":"c517cb36.dfeda8","name":"","info":"Simulação de sinal","x":340,"y":180,"wires":[]},{"id":"7cf8717d.918ea","type":"udp in","z":"c517cb36.dfeda8","name":"","iface":"","port":"4040","ipv":"udp4","multicast":"false","group":"","datatype":"base64","x":140,"y":560,"wires":[["9847a847.2e0698"]]},{"id":"45ffe878.7efee8","type":"tcp in","z":"c517cb36.dfeda8","name":"","server":"server","host":"","port":"4041","datamode":"stream","datatype":"base64","newline":"","topic":"","base64":false,"x":140,"y":480,"wires":[["9847a847.2e0698"]]},{"id":"1b5f0e52.ace8c2","type":"websocket in","z":"c517cb36.dfeda8","name":"","server":"89d48d49.ad965","client":"","x":130,"y":640,"wires":[["9847a847.2e0698"]]},{"id":"9847a847.2e0698","type":"function","z":"c517cb36.dfeda8","name":"","func":"  if (!!msg.topic) {\n            var identifiers = msg.topic.split('/')\n            if (identifiers.length < 4) {\n                msg.err = \"invalid format\"\n                msg.isvalid = false;\n            } else {\n                msg.ambienteId =  identifiers[1];\n                msg.sensorId = identifiers[2];\n                msg.parameter =identifiers[3];\n                msg.isvalid = true;\n                msg.value = msg.payload;\n                msg.payload = {  _id: msg.sensorId }\n            }\n        }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["86820940.390f18"]]},{"id":"86820940.390f18","type":"switch","z":"c517cb36.dfeda8","name":"","property":"isvalid","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":320,"wires":[["1107e4ec.b7fdcb"]]},{"id":"b8b1650f.17f408","type":"mqtt in","z":"a39e2b04.d736e8","name":"","topic":"signal/#","qos":"2","datatype":"auto","broker":"65d9781a.51dfd8","x":70,"y":140,"wires":[["30e5f340.e3406c"]]},{"id":"642b6112.cd37e","type":"debug","z":"a39e2b04.d736e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":100,"wires":[]},{"id":"7c0cb741.b1ad58","type":"inject","z":"a39e2b04.d736e8","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","x":110,"y":260,"wires":[["e9ba77e3.51a0f8"]]},{"id":"e9ba77e3.51a0f8","type":"function","z":"a39e2b04.d736e8","name":"get all sensors","func":"msg.payload = { type: \"Sensor\" }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["eabdafe8.6b29c"]]},{"id":"f72d24c5.402fd8","type":"debug","z":"a39e2b04.d736e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":340,"wires":[]},{"id":"eabdafe8.6b29c","type":"mongodb in","z":"a39e2b04.d736e8","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":520,"y":220,"wires":[["f57d710.7a74b9"]]},{"id":"622edb00.1a8f64","type":"mongodb in","z":"a39e2b04.d736e8","mongodb":"4c1178bb.d438a8","name":"","collection":"environments","operation":"find","x":350,"y":440,"wires":[["ab7ae38f.4b802"]]},{"id":"f57d710.7a74b9","type":"function","z":"a39e2b04.d736e8","name":"FormatToSplit","func":"\nvar equipamentos = Array.from(msg.payload);\nvar currentList = \"\";\nequipamentos.forEach(function element(elem) { \n    if(currentList.length == 0){\n        currentList = JSON.stringify(elem);\n    }\n    else{\n        currentList = currentList +\";\"+ JSON.stringify(elem);\n        }\n    });\nmsg.payload =  currentList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["f95b2b28.4ac598"]]},{"id":"f95b2b28.4ac598","type":"split","z":"a39e2b04.d736e8","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":360,"wires":[["2754d3a3.89549c"]]},{"id":"2754d3a3.89549c","type":"function","z":"a39e2b04.d736e8","name":"CheckStatus","func":"msg.payload = JSON.parse(msg.payload);\n\nvar diffInMinutes = (msg.timestamp - Date.parse(msg.payload.updatedAt))/(1000*60);\nmsg.diffInMinutes = diffInMinutes\nif(diffInMinutes < 5.0){\n    if(msg.payload.connected == false){\n        msg.diff = true;\n        msg.payload.connected = true;\n         msg.query = {\"_id\": msg.payload._id};\n        delete msg.payload._id;\n    }\n    return msg;\n}\nelse{\n    if(msg.payload.connected == true){\n    msg.payload.connected = false;\n    msg.diff = true;\n    msg.query = {\"_id\": msg.payload._id};\n    delete msg.payload._id;\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":360,"wires":[["d656e810.dca838","642b6112.cd37e"]]},{"id":"d656e810.dca838","type":"switch","z":"a39e2b04.d736e8","name":"","property":"diff","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":360,"wires":[["22b46868.50e9d8","642b6112.cd37e"]]},{"id":"b107f480.5a6708","type":"function","z":"a39e2b04.d736e8","name":"","func":"  if (!!msg.topic) {\n            var identifiers = msg.topic.split('/')\n            if (identifiers.length < 4) {\n                msg.err = \"invalid format\"\n                msg.isvalid = false;\n            } else {\n                msg.ambienteId =  identifiers[1];\n                msg.sensorId = identifiers[2];\n                msg.parameter =identifiers[3];\n                msg.isvalid = true;\n                msg.value = msg.payload;\n                msg.payload = {  _id: msg.sensorId }\n            }\n        }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":140,"wires":[["7edf42d9.9ec26c"]]},{"id":"21e85c8e.50fed4","type":"mongodb in","z":"a39e2b04.d736e8","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":800,"y":80,"wires":[["4fd35628.20d208"]]},{"id":"30e5f340.e3406c","type":"change","z":"a39e2b04.d736e8","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":140,"wires":[["b107f480.5a6708"]]},{"id":"22b46868.50e9d8","type":"mongodb out","z":"a39e2b04.d736e8","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1120,"y":220,"wires":[]},{"id":"7edf42d9.9ec26c","type":"objectid","z":"a39e2b04.d736e8","name":"","selectedProperty":"_id","x":590,"y":80,"wires":[["21e85c8e.50fed4"]]},{"id":"4fd35628.20d208","type":"function","z":"a39e2b04.d736e8","name":"","func":"msg.payload = msg.payload[0]\nmsg.payload.updatedAt = msg.timestamp;\nmsg.payload.currentValue = msg.value;\nmsg.query = {\"_id\": msg.payload._id};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["642b6112.cd37e","22b46868.50e9d8"]]},{"id":"23d2fe26.9a1192","type":"inject","z":"a39e2b04.d736e8","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","x":90,"y":460,"wires":[["622edb00.1a8f64"]]},{"id":"ab7ae38f.4b802","type":"function","z":"a39e2b04.d736e8","name":"FormatToSplit","func":"\nvar ambientes = Array.from(msg.payload);\nvar currentList = \"\";\nambientes.forEach(function element(elem) { \n    if(currentList.length == 0){\n        currentList = JSON.stringify(elem);\n    }\n    else{\n        currentList = currentList +\";\"+ JSON.stringify(elem);\n        }\n    });\nmsg.payload =  currentList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["8a33f01.0e2a61"]]},{"id":"8a33f01.0e2a61","type":"split","z":"a39e2b04.d736e8","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":520,"wires":[["4ac129d2.e68838"]]},{"id":"4ac129d2.e68838","type":"function","z":"a39e2b04.d736e8","name":"","func":"msg.payload = JSON.parse(msg.payload);\n\nmsg.payload.numberOfEquipments = msg.payload.equipments.length;\n\nvar sensorFormatToSplit = \"\";\n\nArray.from(msg.payload.equipments).forEach(function equipment(equip) {\n   if(sensorFormatToSplit === \"\"){\n       sensorFormatToSplit = equip;\n   }else{\n       sensorFormatToSplit += \";\"+equip;\n   }   \n});\n\n\nflow.set(\"ativos\",0);\nmsg.currentEnvironment = msg.payload;\n\nmsg.payload = sensorFormatToSplit;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["2402dc96.f0d924"]]},{"id":"25c9acd0.316cc4","type":"join","z":"a39e2b04.d736e8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1090,"y":300,"wires":[["f72d24c5.402fd8"]]},{"id":"2402dc96.f0d924","type":"split","z":"a39e2b04.d736e8","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":520,"wires":[["b1763361.c9117"]]},{"id":"b1763361.c9117","type":"function","z":"a39e2b04.d736e8","name":"","func":"msg.payload = {  _id: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":620,"wires":[["d6935687.f95468"]]},{"id":"d6935687.f95468","type":"objectid","z":"a39e2b04.d736e8","name":"","selectedProperty":"_id","x":710,"y":700,"wires":[["3107c4ae.941d4c"]]},{"id":"3107c4ae.941d4c","type":"mongodb in","z":"a39e2b04.d736e8","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":920,"y":700,"wires":[["6945431e.3a009c"]]},{"id":"6945431e.3a009c","type":"function","z":"a39e2b04.d736e8","name":"","func":"var sensorStatus = false;\n\nif(msg.payload[0]){\n    sensorStatus = msg.payload[0].connected;\n}\n\nmsg.sensorStatus = sensorStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":480,"wires":[["fe84d14d.8e70b","f72d24c5.402fd8"]]},{"id":"fe84d14d.8e70b","type":"switch","z":"a39e2b04.d736e8","name":"","property":"sensorStatus","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":480,"wires":[["f72d24c5.402fd8"]]},{"id":"33ccee55.021982","type":"inject","z":"67309be7.76f2c4","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","x":130,"y":240,"wires":[["3cc8e2f2.9c3dde"]]},{"id":"3cc8e2f2.9c3dde","type":"function","z":"67309be7.76f2c4","name":"get all sensors","func":"msg.payload = { type: \"Sensor\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[["81e92d1e.58633"]]},{"id":"81e92d1e.58633","type":"mongodb in","z":"67309be7.76f2c4","mongodb":"4c1178bb.d438a8","name":"","collection":"equipment","operation":"find","x":540,"y":200,"wires":[["fe3ac686.3874e8"]]},{"id":"fe3ac686.3874e8","type":"function","z":"67309be7.76f2c4","name":"FormatToSplit","func":"\nvar equipamentos = Array.from(msg.payload);\nvar currentList = \"\";\nequipamentos.forEach(function element(elem) { \n    if(currentList.length == 0){\n        currentList = JSON.stringify(elem);\n    }\n    else{\n        currentList = currentList +\";\"+ JSON.stringify(elem);\n        }\n    });\nmsg.payload =  currentList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["77b92e11.5e3b8"]]},{"id":"77b92e11.5e3b8","type":"split","z":"67309be7.76f2c4","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":360,"wires":[["d6659596.3f5838"]]},{"id":"e6444d41.7776e","type":"debug","z":"67309be7.76f2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":340,"wires":[]},{"id":"8f91f6c5.dbde98","type":"function","z":"67309be7.76f2c4","name":"","func":"var sensor = JSON.parse(msg.payload)\nmsg.topic = \"signals/\"+\"ambienteid/\"+sensor._id+\"/simulated\"\nmsg.payload = msg.random\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":300,"wires":[["e6444d41.7776e"]]},{"id":"d6659596.3f5838","type":"random","z":"67309be7.76f2c4","name":"","low":"1","high":"254","inte":"true","property":"random","x":780,"y":520,"wires":[["8f91f6c5.dbde98"]]}]